<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://static.actu.fr/uploads/2021/01/142489619-233131581751207-2875209039377928422-n.jpg);">
  <div class="container home-navbar-container">
    <div class="logo-banner">
      <%= cl_image_tag("logo_rb_p_ljuyun", width: 100, height: 100,) %>
      <p>Raclette, Plancha & Barbecue</p>
    </div>
    <h1 id="banner-title"></h1>
    <%= link_to "J'AI FAIM, JE LOUE", machines_path, class:"btn-discover" %>
  </div>
</div>
