<div class="container">
  <div class="row">
      <div class="card-product col-12 col-lg-6">
        <img src="https://m.bettybossi.ch/static/rezepte/x/bb_chch090801_0135a_x.jpg" />
        <div class="card-product-infos">
          <h2>Raclette</h2>
          <p>Product description with <strong>relevant info</strong> only.</p>
        </div>
      </div>
      <div class="card-product col-12 col-lg-6">
        <img src="https://images.unsplash.com/photo-1512594282804-b5f400408c9d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80" />
        <div class="card-product-infos">
          <h2>Fondue</h2>
          <p>Product description with <strong>relevant info</strong> only.</p>
        </div>
      </div>
      <div class="card-product col-12 col-lg-6">
        <img src="https://boucherie-dynamique.com/c/158-category_default/vos-soirees-pierrade.jpg" />
        <div class="card-product-infos">
          <h2>Pierrade</h2>
          <p>Product description with <strong>relevant info</strong> only.</p>
        </div>
      </div>
      <div class="card-product col-12 col-lg-6">
        <img src="https://images.pexels.com/photos/1482803/pexels-photo-1482803.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
        <div class="card-product-infos">
          <h2>Barbecue</h2>
          <p>Product description with <strong>relevant info</strong> only.</p>
        </div>
      </div>
  </div>
</div>

