.background-new-machine {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://fac.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2Ffac.2F2020.2F12.2F11.2Ff177d6fe-0930-4888-b761-9ccda3c1f348.2Ejpeg/850x478/quality/90/crop-from/center/les-erreurs-que-l-on-fait-tous-avec-la-raclette.jpeg');
  background-image: url(https://fac.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2Ffac.2F2020.2F12.2F11.2Ff177d6fe-0930-4888-b761-9ccda3c1f348.2Ejpeg/850x478/quality/90/crop-from/center/les-erreurs-que-l-on-fait-tous-avec-la-raclette.jpeg);
  background-size: cover;
  padding: 20px 0 20px 0;
}

#new-machine {
  border-radius: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35) ;
  margin: 20px 400px;
  padding: 20px;
  background-color: white;
}
