.index-cards {
    display: grid;
    width: 99vw;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
    margin: 0px 8px;
}

.card-details {
    overflow: hidden;
    background-color: white;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
    img {
        height: 200px;
        width: 100%;
        object-fit: cover;
    }
    p {
        font-size: 12px;
        opacity: .7;
        margin: 0;
    }

    h2 {
        font-size: 24px;
        font-weight: bold;
        margin: 0;
    }
    a {
        text-decoration: none;
        color: black;
    }
<<<<<<< HEAD
  }

   .bookings-title {
        margin-bottom: 35px;
        font-family: Helvetica, sans-serif, bold;
    }
    
  
  .index-cards {
    display: grid;
    width: 99vw;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
    margin: 0px 8px;
  }

  .btn-primary {
    color: #888585;
    background-color: #f0f3f7;
    border-color: #f7f8f9;
  }
=======
}

.card-text-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


>>>>>>> ad0e6d7221c1f71edfc3426196fdd5f66babafc1
