.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.btn-navbar {
  border-radius: 50px;
  margin: 0px 24px;
  &:hover {
    background-color: rgba(0,0,0,0.05);
    border-radius: 50px;
  }
}

.navbar-brand {
  img {
    border-radius: 50px;
  }
}

.dropdown {
  display: flex;
}

.user-login-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  &:hover {
    background-color: rgba(0,0,0,0.05);
    border-radius: 50px;
  }
  i {
    color: rgba(0,0,0,0.6);
    margin: 0px 8px;
    font-size: 16px;
  }
}