<div class="container">
  <div class="row">
    <% @machines.each do |machine| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/C2yH3zXzaP0');">
          <div class="card-description">
            <h2><%= machine.name %></h2>
            <% if policy(machine).update? %>
            <%= link_to "update info", edit_machine_path(machine) %>
            <% end %>
          </div>
          <%= link_to "", machine_path(machine), class: 'card-link' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
